<template>
  <div class="home">
    <h1>This is a table with some important data</h1>
    <b-table :data="tableData" :columns="columns" :row-class="customRowClass"></b-table>
    <button @click="openModal" class="button-primary">Add Security Class</button>

    <div v-if="isModalActive" class="modal" @click="closeModal">
      <div class="modal-card" @click.stop>
        <header>
          <h1 class="modal-header-title">Add Security Class</h1>
        </header>
        <section class="modal-card-content">
          <form ref="securityClassForm" @submit.prevent="addSecurityClass">
            <div v-for="field in formFields" :key="field.key" class="field">
              <label>{{ field.label }}</label>
              <input :type="field.type" v-model="formData[field.key]" :pattern="field.type === 'number' ? '\\d+' : null"
                :min="field.type === 'number' ? 0 : null" required />
            </div>
          </form>
        </section>
        <footer class="modal-card-footer">
          <button @click="addSecurityClass" class="button-primary">Add</button>
          <button @click="closeModal" class="button-secondary">Cancel</button>
        </footer>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { TableData } from "@/types/types";

@Component
export default class Home extends Vue {
  tableData: TableData[] = [];
  columns = [
    {
      label: "Security class",
      field: "name",
    },
    {
      label: "Authorized amount",
      field: "authorizedAmount",
    },
    {
      label: "Issued amount",
      field: "issuedAmount",
    },
    {
      label: "Authorized Capital",
      field: "authorizedCapital",
    },
    {
      label: "Issued capital",
      field: "issuedCapital",
    },
  ];
  loading = false;

  formFields: { label: string; key: string; type: string }[] = [
    { label: "Name", key: "name", type: "text" },
    { label: "Nominal Value", key: "nominalValue", type: "number" },
    { label: "Authorized Amount", key: "authorizedAmount", type: "number" },
    { label: "Issued Amount", key: "issuedAmount", type: "number" },
    { label: "Authorized Capital", key: "authorizedCapital", type: "number" },
    { label: "Issued Capital", key: "issuedCapital", type: "number" },
  ];

  formData: Record<string, string | number> & Omit<TableData, "id"> = {
    name: "",
    nominalValue: 0,
    authorizedAmount: 0,
    issuedAmount: 0,
    authorizedCapital: 0,
    issuedCapital: 0,
  };

  customRowClass(item: TableData, index: number): string | string[] | undefined {
    if (index === this.tableData.length - 1) {
      return 'has-text-weight-bold';
    }
    return '';
  }

  // mounted works fine if your ide complains about it
  // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types
  async mounted() {
    try {
      this.loading = true;

      const data: TableData[] = await this.getData();

      const modifiedData = data.map((dataItem: TableData) => ({
        ...dataItem,
        randomNumber: Math.random(),
      }));

      const totalRow: TableData = this.computeTotals(modifiedData);
      this.tableData = [...modifiedData, totalRow];
    } catch (error) {
      console.error(error, "This is not good");
    } finally {
      this.loading = false;
    }
  }

  computeTotals(data: TableData[]): TableData {
    return {
      id: "total",
      name: "Total",
      nominalValue: data.reduce((total, item) => total + Number(item.nominalValue), 0),
      authorizedAmount: data.reduce((total, item) => total + Number(item.authorizedAmount), 0),
      issuedAmount: data.reduce((total, item) => total + Number(item.issuedAmount), 0),
      authorizedCapital: data.reduce((total, item) => total + Number(item.authorizedCapital), 0),
      issuedCapital: data.reduce((total, item) => total + Number(item.issuedCapital), 0),
    };
  }

  async getData(): Promise<TableData[]> {
    return [
      {
        id: "42f2462d-49d0-4e91-8fe1-de2e656b0f06",
        name: "Series A",
        nominalValue: 5,
        authorizedAmount: 1500,
        issuedAmount: 500,
        authorizedCapital: 7550,
        issuedCapital: 2500,
      },
      {
        id: "42f2462d-49d0-4e91-8fe1-de2e656b0f06",
        name: "Series B",
        nominalValue: 10,
        authorizedAmount: 15000,
        issuedAmount: 5000,
        authorizedCapital: 150000,
        issuedCapital: 50000,
      },
      {
        id: "fd78c11b-e3d2-455a-99b0-49907a75c463",
        name: "Series C",
        nominalValue: 1,
        authorizedAmount: 96876,
        issuedAmount: 61760,
        authorizedCapital: 96876,
        issuedCapital: 61760,
      },
      {
        id: "d8654cb0-8986-4fbc-b969-025e514cb934",
        name: "Series D",
        nominalValue: 1,
        authorizedAmount: 10110,
        issuedAmount: 1100,
        authorizedCapital: 10110,
        issuedCapital: 1100,
      },
    ];
  }

  isModalActive = false;

  openModal() {
    this.isModalActive = true;
  }

  closeModal() {
    this.formData = {
      name: "",
      nominalValue: 0,
      authorizedAmount: 0,
      issuedAmount: 0,
      authorizedCapital: 0,
      issuedCapital: 0,
    };

    this.isModalActive = false;
  }

  async addSecurityClass() {
    const form = this.$refs.securityClassForm as HTMLFormElement;
    if (!form.checkValidity()) {
      alert('The form is not valid!')
      return;
    }
    console.log(this.formData);

    const newSecurityClass: TableData = {
      id: Math.random().toString(),
      ...this.formData,
    };

    this.tableData.splice(this.tableData.length - 1, 1);

    const modifiedData = [...this.tableData, newSecurityClass];
    const totalRow: TableData = this.computeTotals(modifiedData);

    this.tableData = [...modifiedData, totalRow];

    this.closeModal();
  }
}
</script>

<style scoped lang="scss">
.button-primary {
  background-color: #3f75b6;
  color: #ffffff;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-secondary {
  background-color: #dcdcdc;
  color: #262626;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;

  .modal-card {
    background: #fff;
    max-width: 600px;
    width: 100%;
    padding: 20px;
    border-radius: 8px;

    .modal-header-title {
      font-size: 1.5rem;
    }

    .modal-card-content {
      padding: 20px 0;
    }

    .modal-card-footer {
      display: flex;
      justify-content: end;
    }
  }
}

.field {
  margin-bottom: 15px;

  label {
    display: block;
    margin-bottom: 5px;
  }

  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}
</style>
