<template>
  <div class="transfers">
    <h1 class="title is-1">Transfers</h1>
    <label
      >Search
      <input placeholder="type or record date" v-model="searchTerms" />
    </label>
    <div class="mt-5">
      <button class="button-primary" @click="updateTransfers">
        Update transfers
      </button>
      <div class="transfer-container">
        <transfer-row
        :key="transfer.transactionIdentifier"
        v-for="transfer in searchedTransfers"
        :transfer="transfer"
      />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { Transaction } from "@/types/types";
import TransferRow from "@/components/transferRow.vue";
import transfers from "@/assets/data";
import { v4 as uuidv4 } from 'uuid';
@Component({
  name: "Transfers",
  components: { TransferRow },
})
export default class Transfers extends Vue {
  searchTerms = "";
  transfers = transfers;
  // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types
  get searchedTransfers() {
  if (this.searchTerms) {
    return this.transfers.filter((transfer: Transaction) => {
      return (
        transfer.type.toLowerCase().includes(this.searchTerms.toLowerCase()) ||
        transfer.recordDate?.includes(this.searchTerms)
      );
    });
  }
  return this.transfers;
}

  updateTransfers(): void {
    this.transfers.forEach((transfer, index) => {
      // This code breaks the immutability and reactivity rules of Vue.
      // Therefore, Vue cannot be able to handle data changes and respond to them.
      // To resolve this problem, we can use Vue.set() function. @refer: https://v2.vuejs.org/v2/guide/reactivity.html

      transfer.forgottenProperty = `Important data: ${(Math.random() * 100000000).toString().slice(1, 8)}`;
      Vue.set(transfer, 'forgottenProperty', `Important data: ${(Math.random() * 100000000).toString().slice(1, 8)}`);
    });

    // I used uuid here to ensure uniqueness and avoid duplicated keys, render errors.
    // Vue tracking and rendering elements with the key attribute, therefore if we use the same key, vue cannot catch the changes.
    const newTransferRecord = {
      splitFactor: null,
      exDate: null,
      amount: 10000,
      companyId: "568fa387-43d1-499a-bba2-25089f5a881a",
      notes: null,
      pricePerShare: null,
      recordDate: "2021-07-01",
      securityClassId: "ab983cfe-a932-4e25-98ea-f5928a839fe1",
      securityClass: { name: "Common" },
      state: "OLD",
      toSecurityHolderId: "dd971e7f-386b-45dd-93e1-666fbeed0a55",
      toSecurityHolder: {
        fullName: "Jeff Dunlap",
        type: "PERSON",
      },
      transactionIdentifier: uuidv4(),
      positionWithinDay: 3,
      type: "ISSUE_STOCK",
    };

    // Use Vue.set() for replacing records to make the newTransferRecord object reactive.
    Vue.set(this.transfers, 0, newTransferRecord);    
  }
}
</script>
<style scoped lang="scss">
.transfer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: gray;
  margin-top: 20px;
  padding: 20px 0;
} 
</style>