<template>
  <div class="card-container transfer-row">
    <div class="left-border" :style="{ backgroundColor: randomColor }"></div>
    <div class="column-container columns-container">
      <div class="column-container left-container">
        <div class="left-container-content">
          <div class="column-container price-container">
            $25
          </div>
          <div class="column-container date-container">
            <div class="value-title">TODAY</div>
            <div class="value-time">06:30 PM</div>
          </div>
        </div>
      </div>
      <div class="column-container right-container">
        <div class="right-container-content">
          <div class="address-container">
            <div class="column-container road-logo">
              <div class="road-logo-content">
                <div class="location" :style="{ color: randomColor }">o</div>
                <div class="dash-container">
                  <div v-for="index in 4" :key="index" class="dash" :style="{ backgroundColor: randomColor }"></div>
                </div>
                <div class="location" :style="{ color: randomColor }">o</div>
              </div>
            </div>
            <div class="column-container address-line-content">
              <div class="address-line address-line-top">
                W 90th St, New York, NY 10025
              </div>
              <div class="address-divider"></div>
              <div class="address-line">
                46th Ave, Woodside, NY 11101
              </div>
            </div>
          </div>
          <div class="info-container">
            <div class="column-container info">
              <div class="value-title">REQUESTS</div>
              <div class="value-text">5</div>
            </div>
            <div class="column-container info">
              <div class="value-title">PLEDGE</div>
              <div class="value-text">$150</div>
            </div>
            <div class="column-container info">
              <div class="value-title">WEIGHT</div>
              <div class="value-text">light</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Prop } from "vue-property-decorator";
import { Transaction } from "@/types/types";

@Component({
  name: "TransferRow",
})
export default class TransferRow extends Vue {
  @Prop({ required: true }) transfer!: Transaction;

  get randomColor(): string {
    const letters = "0123456789ABCDEF";
    let color = "#";
    for (let i = 0; i < 6; i++) {
      color += letters[Math.floor(Math.random() * 16)];
    }
    return `${color}`;
  }

}
</script>

<style lang="scss">
// Variables
$divider-color: rgb(236, 236, 236);
$value-title-color: rgb(173, 173, 173);
$value-text-color: rgb(155, 155, 155);

@mixin container-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  height: 100%;
  min-width: 7vw;
}

.card-container {
  background-color: white;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
  color: #4a4a4a;

  .columns-container {
    display: flex;
    margin: -1rem
  }

  .column-container {
    padding: 0.75rem;
  }
}

.transfer-row {
  position: relative;
  border-radius: 15px;
  margin: 1rem;
  max-width: 500px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .value-title {
    color: $value-title-color;
  }

  .value-text {
    color: $value-text-color;
    font-size: 1.2em;
    letter-spacing: 1.5px;
    font-weight: bold;
  }

  .value-time {
    color: $value-text-color;
    font-weight: bold;
    letter-spacing: -1px;
  }

  .left-border {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 12px;
    border-radius: 8px 0 0 8px;
  }

  .left-container {
    border-right: 1px solid $divider-color;
    padding-right: 0;

    .left-container-content {
      @include container-content;

      .price-container {
        color: #4a4a4a;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.25;
      }

      .date-container {
        display: flex;
        flex-direction: column;
        justify-content: end;
        text-align: left;
        padding-top: 30px;
        padding-bottom: 0;
      }
    }
  }

  .right-container {
    .right-container-content {
      @include container-content;

      .address-container {
        display: flex;

        .road-logo {
          width: 15%;
          flex: flex;
          flex-direction: column;
          justify-content: space-between;

          .road-logo-content {
            display: flex;
            flex-direction: column;

            .dash-container {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
            }

            .location {
              font-size: 20px;
              font-weight: bold;
              margin: -5px 0;
            }

            .dash {
              height: 4px;
              width: 3px;
              margin-top: 3px;
            }
          }
        }

        .address-line-content {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .address-line {
            width: max-content;
          }

          .address-divider {
            background-color: $divider-color;
            height: 1px;
          }
        }
      }

      .info-container {
        display: flex;

        .info {
          padding-top: 30px;
          padding-bottom: 0;
        }
      }
    }
  }
}
</style>
